<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Shor.tr - Acortador de URLs">

        <title>Shor.tr - 404</title>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/styles.css" />

    </head>

    <body>
        <div class="container">
            <h2 style="text-align: center;">Shor.tr 404 - I don't know where you are going</h2>
        </div>
    </body>

</html>
