{% extends "base.html.twig" %}

{% block title %}<title>Shor.tr - 404</title>{% endblock title %}

{% block content %}

    <h1 class="cover-heading">Shor.tr 404</h1>
    <p class="lead">I don't know where you are going</p>

{% endblock content %}